<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.persistent.medicalmcq" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".LevelActivity"
            android:label="@string/title_activity_level" >
        </activity>
        <activity
            android:name=".MCQHomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".QuizActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_quiz"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".SubTopicActivity"
            android:label="@string/title_activity_sub_topic"
            android:theme="@style/Theme.Transparent" >
        </activity>
    </application>

</manifest>
